# 문자

In [3]:
import pandas as pd

In [1]:
firstLetter = "smart"
secondLetter = "fintech"

In [2]:
firstLetter + secondLetter

'smartfintech'

In [4]:
firstLetter = 'smart "fintech" lecture'
firstLetter

'smart "fintech" lecture'

In [5]:
firstLetter = "smart 'fintech' lecture"
firstLetter

"smart 'fintech' lecture"

In [6]:
firstLetter = """smart 'fintech' "aa" lecture"""
firstLetter

'smart \'fintech\' "aa" lecture'

In [7]:
inputVal1 = 1
inputVal2 = "1"

In [8]:
inputVal1 + inputVal2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
print(type(inputVal1))
print(type(inputVal2))

<class 'int'>
<class 'str'>

In [12]:
commentMulti = 20
startFlag = "START"
endFlag = "END"

In [15]:
"*"*10

'**********'

In [17]:
print("*"*commentMulti+\
     startFlag+\
     "*"*commentMulti)

********************START********************

## 인덱싱
- 파이썬 인덱싱의 특징 : 첫번째 인덱스는 포함한다. 마지막 인덱스는 포함하지 않는다.

In [19]:
# 연, 주차 정보 길이 설정
YEARLEN = 4
WEEKLEN = 2

# 입력 데이터
inValue = "202103"

In [24]:
yearInfo = inValue[:YEARLEN]
yearInfo

'2021'

In [23]:
weekInfo = inValue[YEARLEN:]
weekInfo

'03'

In [25]:
yearweek = "201801"
print(yearweek[0])       # 첫번째 문자열
print(yearweek[0:4])     # 0~4번째 전 문자열

2
2018

In [32]:
# 문자열 개수세기 (count)
yearweek = "2017W83W8888"
print(yearweek.count("W"))
print(yearweek.count("8"))

2
5

In [33]:
# index
inValue = "21W03"
print(inValue.index("W"))
print(inValue.index("3"))

2
4

In [34]:
# 대소문자 (로그인 시 응용가능)
letters = "LeD_tv"
letters.upper()

'LED_TV'

In [35]:
letters.lower()

'led_tv'

In [36]:
# 대소문자 (로그인 시 응용가능)(사용자 편의)
userInput = "haiteam"
dbValue = "HAITEAM"

In [37]:
userInput.upper() == dbValue.upper()

True

In [38]:
userInput.lower() == dbValue.lower()

True

In [62]:
# replace
a = "haiteam                                                 seoul"
b = "team                                    busan"

In [65]:
"2018w18".replace("w","_").replace("_","W").split("W")

['2018', '18']

In [63]:
a.replace("  ","").replace("  "," ")

'haiteam seoul'

In [47]:
# split
outValue = "2021W03".split("W")
outValue

['2021', '03']

In [49]:
outValue[0]

'2021'

In [50]:
orgValue = "1234"

In [55]:
# int (정수), float(실수)
float(orgValue)

1234.0

In [52]:
newValue = int(orgValue)

In [53]:
type(orgValue)

str

In [54]:
type(newValue)

int

##### “SEC 20180212 250”  문자열 생성 후 stock_name, date, value로 각각 의미하는 문자열을 생성하세요

In [77]:
# index 활용
# 문자열 생성
stringData = "SEC 20180212 250" 

# 인덱스로 문자열 생성
stock_name = stringData[:4]
date = stringData[4:13]
value = stringData[13:]

# 인덱스로 생성한 문자열 출력
print(stock_name)
print(date)
print(value)

SEC
20180212
250

In [78]:
# split과 리스트 활용
# 문자열 생성
stringData = "SEC 20180212 250" 

# split으로 문자열 분리
newString = stringData.split(" ")

# 리스트로 문자열 생성
stock_name = newString[0]
date = newString[1]
value = newString[2]

# 생성한 문자열 출력
print(stock_name)
print(date)
print(value)

SEC
20180212
250

##### “Sec 2018W28 250”  문자열 생성 후 stock_name, date, value로 각각 의미하는 문자열을 생성하세요 (단 모두 대문자여야 하며, ‘W’를 삭제해야함)

In [82]:
# index 활용
# 문자열 생성
stringData = "Sec 2018W28 250"

# 문자열 정제
newString = stringData.replace("W","").upper()

# 인덱스로 문자열 생성
stock_name = newString[:4]
date = newString[4:11]
value = newString[11:]

# 인덱스로 생성한 문자열 출력
print(stock_name)
print(date)
print(value)

SEC
201828
250

In [88]:
# split과 리스트 활용
# 문자열 생성
stringData = "Sec 2018W28 250"

# 문자열 정제, split으로 문자열 분리
newString = stringData.replace("W","").upper().split(" ")

# 리스트로 문자열 생성
stock_name = newString[0]
date = newString[1]
value = newString[2]

# 생성한 문자열 출력
print(stock_name)
print(date)
print(value)

In [93]:
# 샘플데이터
targetValue = "Secsdwekfnf 2018W28 250"
# 입력데이터를 대문자로 변환한다.
targetValue = targetValue.upper()

delimeter = " "

delimeterIndex = targetValue.index(delimeter)
delimeterIndex

stockName = targetValue[:delimeterIndex]
stockName

leftedValue = targetValue[delimeterIndex+1:]

leftedValue

delimeterIndex = leftedValue.index(delimeter)

date = leftedValue[:delimeterIndex].replace("W","")

# 리스트

In [100]:
emptyList = []

In [111]:
# 리스트
priceList = [100,150,300,1000]

In [112]:
priceList[0]

100

In [117]:
print(sum(priceList))
print(len(priceList))
print(min(priceList))
print(max(priceList))

1550
4
100
1000

In [110]:
# 복합리스트
stockList = [ ["sec","201801",100],
              ["posco","201801",200] ]

In [106]:
stockList[0]

['sec', '201801', 100]

In [108]:
stockList[0][1]

'201801'

In [109]:
stockList[1][0]

'posco'

In [122]:
initList = [100,200,300,400]

In [133]:
# 인덱스 활용
initList[0:3]

# 리스트는 집합이끼때문에 집합연산이 필수
sum(initList) # sum, Len, min, max

# 리스트는 수정가능하다!!!
initList[2] = 1000000
initList
initList.remove(200)

# 리스트의 유용한 함수
initList.count(500)
initList

[100, 1000000, 30]

In [128]:
initList.append()

In [129]:
initList

[100, 200, 1000000, 30]

### [120,150,300,500,1000,100,2000] 값에서 최소 최대 값을 뺀 평균을 average 이름의 변수에 담으세요

In [1]:
# 리스트 생성
dataList = [120,150,300,500,1000,100,2000]

# 최소, 최대값 변수에 담기
minList = min(dataList)
maxList = max(dataList)

# 리스트에서 최소, 최대값 제외
dataList.remove(minList)
dataList.remove(maxList)

# 평균구해서 변수에 담기
average = sum(dataList) / len(dataList)

# 평균 출력
print("리스트의 평균값은 {} 입니다".format(average))

리스트의 평균값은 414.0 입니다

In [2]:
testList = [1,2,3,4]

In [3]:
testList2 = testList.remove(4)

### [리스트 연산] 다음 예제코드를 활용하여 customerTotalList의 TOTAL_AMOUNT 컬럼의 최소, 최대값을 모두 뺀 평균을 구하세요. (hint: customerData.sort() 활용, 단 수정제출 시 작성코드도 같이 제출해주세요)

In [4]:
# csv불러오기
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerData

# TOTAL_AMOUNT만 리스트에 담기
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()
customerTotalList

# 오름차순으로 정렬
customerTotalList.sort()

# 최소, 최댓값 변수에 담기
minList = min(customerTotalList)
maxList = max(customerTotalList)

# 최소, 최댓값 개수 카운트
customerTotalList.count(minList)
customerTotalList.count(maxList)

# 0이 다수이므로 del로 일괄삭제
del customerTotalList[:256]
# max는 1개이르모 remove로 삭제
customerTotalList.remove(maxList)

# 리스트 평균구하고 평균출력
average = sum(customerTotalList) / len(customerTotalList)
print("리스트의 평균값은 {} 입니다".format(average))

리스트의 평균값은 35248.91490376756 입니다

In [2]:
pwd

'C:\\Users\\SMART-18\\stddev\\Session02 - 파이썬 기초 다지기'

### 문제. TOTAL_AMOUNT의 평균을 구한다 (최소 / 최댓값 모두 제거)
### STEP1 : 데이터를 정렬한다 (오름차순)

In [1]:
import pandas as pd
# csv불러오기
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerData

# TOTAL_AMOUNT만 리스트에 담기
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()
customerTotalList

customerTotalList.sort()

### STEP2 : 최소값, 최댓값을 계산한다.

In [2]:
## minValue = customerTotalList[0]
## maxValue = customerTotalList[-1]
## 속도 > 가독성

In [3]:
minValue = min(customerTotalList)
maxValue = max(customerTotalList)

### STEP3 : 최소값, 최댓값 각각의 개수를 산출한다.

In [4]:
minValueCnt = customerTotalList.count(minValue)
maxValueCnt = customerTotalList.count(maxValue)

In [13]:
print(" minVaule: {}\n maxValue: {}\n minValueCnt: {}\n maxValueCnt: {}\n".
format(minValue,maxValue,minValueCnt,maxValueCnt))

 minVaule: 0
 maxValue: 3103500
 minValueCnt: 256
 maxValueCnt: 1

### STEP4 : 평균계산

In [6]:
# 초기리스트합 - (최소값 '*' 최소값개수) - (최대값*최대값개수)
# / 초기리스트개수 - (최소값개수) - (최대값개수)

In [7]:
finalSum = sum(customerTotalList) - (minValue*minValueCnt) - (maxValue*maxValueCnt)

In [8]:
finalLen = len(customerTotalList) - minValueCnt - maxValueCnt

In [9]:
finalSum / finalLen

35248.91490376756