## 1. 라이브러리 선언

In [1]:
import pandas as pd
import numpy as np

## 2. 데이터 불러오기

## [데이터타입 통합]
kopo_channel_seasonality_new.csv 파일을 불러온 후
selloutData 변수에 담으세요 이후 
QTY컬럼→실수(float), 이외컬럼→문자(str)로 변경하세요

In [2]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [4]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [5]:
selloutData["REGIONID"] = selloutData["REGIONID"].astype(str)
selloutData["PRODUCT"] = selloutData["PRODUCT"].astype(str)
selloutData["YEARWEEK"] = selloutData["YEARWEEK"].astype(str)

In [6]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

## [데이터타입 조회]
kopo_customerdata.csv 파일을 불러온 후
kopo_customerData 변수에 담으세요 이후 
STATENAME, GENDER 컬럼 첫 5개행 조회하세요

In [12]:
# 파일 불러오기
kopo_customerData = pd.read_csv("../dataset/kopo_customerdata.csv")

# 보고싶은 컬럼 선택하여 변수에 담기
targetColumns = ["STATENAME","GENDER"]

# 출력
kopo_customerData5 = kopo_customerData.loc[0:4, targetColumns]
kopo_customerData5

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male

In [13]:
# kopo_customerData.loc[:,['STATENAME','GENDER']].head()

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male

### [데이터 통합]
selloutData 자료에서 
YEAR, WEEK 컬럼을 생성하고 WEEK 가 52 이하인
데이터만 조회한 후 refinedSelloutData 변수에 담으세요

In [44]:
selloutData.head()

  REGIONID    PRODUCT YEARWEEK      QTY  YEAR WEEK
0      A60   PRODUCT4   201402     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  2014   02
2      A60  PRODUCT34   201402   4463.0  2014   02
3      A60  PRODUCT47   201402      0.0  2014   02
4      A60  PRODUCT56   201402     23.0  2014   02

In [45]:
selloutData["YEAR"] = selloutData.YEARWEEK.str[:4]

In [46]:
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:6]

In [47]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
YEAR         object
WEEK         object
dtype: object

In [48]:
refinedSelloutData = selloutData.loc[ selloutData.WEEK.astype(int) <= 52 ]

In [49]:
refinedSelloutData.head()

  REGIONID    PRODUCT YEARWEEK      QTY  YEAR WEEK
0      A60   PRODUCT4   201402     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  2014   02
2      A60  PRODUCT34   201402   4463.0  2014   02
3      A60  PRODUCT47   201402      0.0  2014   02
4      A60  PRODUCT56   201402     23.0  2014   02