## 1. 라이브러리 선언

In [1]:
import pandas as pd
import numpy as np

## 2. 데이터 불러오기

In [2]:
csData = pd.read_csv("../dataset/customerdata.csv", encoding="ms949")
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [39]:
# 데이터프레임 요약
csData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [5]:
csData.to_markdown

<bound method DataFrame.to_markdown of      CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]>

In [6]:
csData.head(3)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog

## 리스트에서 데이터프레임 생성

In [32]:
productList = \
    ["aproduct", "bproduct", "cproduct", "dproduct"]

In [33]:
priceList = [1000, 2000, 3000, 4000]

In [34]:
pd.DataFrame(productList)

          0
0  aproduct
1  bproduct
2  cproduct
3  dproduct

In [35]:
pd.DataFrame(priceList)

      0
0  1000
1  2000
2  3000
3  4000

In [36]:
zipList = zip (productList, priceList)

In [37]:
productInfoDf = \
    pd.DataFrame(zipList, columns = ["productname", "price"])

In [38]:
productInfoDf

  productname  price
0    aproduct   1000
1    bproduct   2000
2    cproduct   3000
3    dproduct   4000

In [43]:
# 데이터프레임 기본정보 확인
productInfoDf.dtypes

productname    object
price           int64
dtype: object

In [55]:
# 걍 EMI라 하면 안됨. 데이터명을 써줘야 함! (csData.EMI 이렇게!)
csDataEmi3 = csData.loc[ csData.EMI >= 3]
# csDataEmi3 = csData.loc[ csData.EMI >= "3"] 으로 하면 에러. dtypes로 보면 EMI가 int여서. 
# 먼저 모든 데이터를 문자로 바꾸고, 숫자계산시만 숫자로 바꿔서 하는 것도 방법. (교수님 삼성에서 이렇게 함)

In [53]:
# 복수조건을 쓸 떄는 괄호를 친다!
csData2 = csData.loc[ (csData.EMI >= 3) &
                      (csData.AVGPRICE > 3500)]

In [47]:
# 행이 150개, 열이 6개 / 교수님은 shape을 많이 씀
csData.shape

(150, 6)

In [48]:
csDataEmi3.shape

(19, 6)

In [56]:
csData2.shape

(11, 6)

In [52]:
# .loc은 인덱스와 다르게 0부터 3까지 다 나옴!
csDataEmi3 = csData.loc[0:3]
csDataEmi3

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird

In [54]:
# 로직이 제대로 반영이 되었나 검증 필!!
csData2.loc[csData2.AVGPRICE <= 3500]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE]
Index: []

In [57]:
seekId = "a13566"

In [58]:
csData.loc [ csData.CUSTID.str.upper() == seekId.upper()]

   CUSTID  AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.9    3            6    1.679181  Big-Screen-lover

In [59]:
customerData = csData

In [62]:
# EMI 컬럼을 STR으로 변환해라 -> EMI 컬럼에 다시대입!
customerData.EMI= customerData.EMI.astype(str)

In [64]:
customerData["EMI"] = customerData["EMI"].astype(int)

In [66]:
# 이건 안됨. EMI2가 존재하지 않으므로
customerData.EMI2= customerData.EMI.astype(float)

<ipython-input-66-fddd52f30523>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  customerData.EMI2= customerData.EMI.astype(float)

In [67]:
# 이건 됨. EMI2라는 컬럼을 새롭게 만드는 것이므로
customerData["EMI2"] = customerData["EMI"].astype(float)

In [65]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int32
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [69]:
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0
3  A16605  3713.211107    2            6    0.900000        Early-bird   2.0
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0

In [73]:
csDataTypeStr = customerData.astype( { "CUSTID":str,
                       "AVGPRICE":str,
                       "EMI":str,
                       "DEVICECOUNT":str,
                       "PRODUCTAGE":str,
                       "CUSTTYPE":str,
                       "EMI2":str } )

In [74]:
csDataTypeStr.dtypes

CUSTID         object
AVGPRICE       object
EMI            object
DEVICECOUNT    object
PRODUCTAGE     object
CUSTTYPE       object
EMI2           object
dtype: object

In [76]:
emiCondition = "3"
priceCondition = "3500"

In [82]:
csData2 = csData.loc [ (csData.EMI.astype(int) >= int(emiCondition)) &
                       (csData.AVGPRICE.astype(int) > int (priceCondition)) ]

In [83]:
csData2.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int32
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
EMI2           float64
dtype: object

In [105]:
angryCustomer = \
    pd.DataFrame( list(csData.CUSTID[0:3]),
                  columns=["CSID"])

In [106]:
angryCustomer

     CSID
0  A13566
1  A14219
2  A15312

In [87]:
angryList = list(angryCustomer.CSID)

In [91]:
csData.loc[ csData.CUSTID.isin(angryList)].shape

(3, 7)

In [92]:
csData.loc[ ~csData.CUSTID.isin(angryList)].shape

(147, 7)

In [93]:
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0
3    A16605  3713.211107    2            6    0.900000        Early-bird   2.0
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0
..      ...          ...  ...          ...         ...               ...   ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover   2.0
146  Z13534  3662.437527    3            6    0.900000        Early-bird   3.0
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover   2.0
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover   2.0
149  Z19835  3326.526183    2            6    1.200000        Early-bird   2.0

[150 rows x 7 columns]

In [101]:
custTypeList = ["Big-Screen-lover", "Sleeping-dog"]

In [102]:
csData.loc[csData.CUSTTYPE.isin(custTypeList)]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0
5    B16849  3755.263391    2            4    2.786665      Sleeping-dog   2.0
..      ...          ...  ...          ...         ...               ...   ...
141  Y13678  3408.300000    2            5    2.084005  Big-Screen-lover   2.0
144  Z12772  3029.600000    2            4    2.093035  Big-Screen-lover   2.0
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover   2.0
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover   2.0
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover   2.0

[100 rows x 7 columns]