## 1. 라이브러리 선언

In [1]:
import pandas as pd
import numpy as np

## 2. 데이터 불러오기

In [3]:
selloutData = \
    pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [8]:
selloutData.describe()

           YEARWEEK           QTY
count  124658.00000  1.246580e+05
mean   201526.66879  8.949287e+03
std        82.77994  4.294973e+04
min    201401.00000 -3.640000e+02
25%    201440.00000  3.200000e+01
50%    201527.00000  2.820000e+02
75%    201613.00000  2.223000e+03
max    201652.00000  1.663206e+06

In [12]:
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [9]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [ ]:
# 데이터 타입 통합