# 1. 라이브러리 선언

In [1]:
import pandas as pd

In [2]:
import warnings

In [4]:
warnings.filterwarnings(action="ignore")
# 경고떠도 무시

# 2. 데이터 불러오기

In [5]:
selloutData = pd.read_csv("../dataset/join_kopo_product_volume.csv")

In [6]:
a01Data = selloutData.loc[selloutData.REGIONID == "A01"]
a02Data = selloutData.loc[selloutData.REGIONID == "A02"]

# 3. 데이터 예측
### a01지역은 : 통계적 예측, a02지역은 : 머신러닝 예측

In [7]:
a01Data["PREDICT"] = 10

In [8]:
a02Data["PREDICT"] = 30

# 4. 데이터 병합
- 첫번째 : append
- 두번째 : pd.concat

In [10]:
a01Data.append(a02Data)

  REGIONID PRODUCT  YEARWEEK   QTY  PREDICT
0      A01  ST0001    201901  3000       10
1      A01  ST0001    201902  3500       10
2      A02  ST0002    201901  4000       30
3      A02  ST0003    201902  7000       30

In [11]:
pd.concat( [a01Data, a02Data], axis=1 )

,REGIONID,PRODUCT,YEARWEEK,QTY,PREDICT,REGIONID,PRODUCT,YEARWEEK,QTY,PREDICT
0,A01,ST0001,201901.0,3000.0,10.0,NaN,NaN,NaN,NaN,NaN
1,A01,ST0001,201902.0,3500.0,10.0,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,A02,ST0002,201901.0,4000.0,30.0
3,NaN,NaN,NaN,NaN,NaN,A02,ST0003,201902.0,7000.0,30.0

In [14]:
predict_dt = pd.DataFrame([10,15], columns=["PREDICT_DT"])
predict_dt

   PREDICT_DT
0          10
1          15

In [15]:
pd.concat( [a01Data, predict_dt], axis=1 )
# axis = 0은 위, 아래로
# axis = 1은 옆으로

  REGIONID PRODUCT  YEARWEEK   QTY  PREDICT  PREDICT_DT
0      A01  ST0001    201901  3000       10          10
1      A01  ST0001    201902  3500       10          15

### NEW

In [16]:
st01data = pd.read_csv("../dataset/st0001data.csv")
maxDate = st01data.WEEK.max()

In [21]:
st01data.head()

  REGIONID PRODUCTGROUP  WEEK  MEAN_VOLUME
0      A01       ST0001     1       559479
1      A01       ST0001     2       483233
2      A01       ST0001     3       457317
3      A01       ST0001     4       500629
4      A01       ST0001     5       541937

In [22]:
fcstWindow = 1000
columns = st01data.columns

In [23]:
regionid = st01data.loc[0,].REGIONID

In [28]:
regionid

'A01'

In [24]:
productgroup = st01data.loc[0,].PRODUCTGROUP

In [26]:
# ㅎ녀재 데이터의 최대 주차정보 저장
maxWeek = st01data.WEEK.max()

In [27]:
yearweek = maxWeek + 1
yearweek

54

In [25]:
productgroup

'ST0001'

In [30]:
columnInfo = st01data.columns

In [37]:
fcstWindow = 1000

In [38]:
regionid = st01data.loc[0,].REGIONID
productgroup = st01data.loc[0,].PRODUCTGROUP

# 신규 주차 정보 생성
for i in range(0, fcstWindow):
    # yearweek는 max 기준으로 계속 1씩 증가
    yearweek = maxDate + i + 1
    volume = 0
    indf = pd.DataFrame( [[regionid, productgroup, yearweek, 0   ]],
                       columns=columnInfo)
    
    st01data = st01data.append(indf)

In [39]:
st01data.shape

(3053, 4)

In [40]:
st01data 
# 동영상 보고 다시 (뭔가 이상함)

,REGIONID,PRODUCTGROUP,WEEK,MEAN_VOLUME
0,A01,ST0001,1,559479
1,A01,ST0001,2,483233
2,A01,ST0001,3,457317
3,A01,ST0001,4,500629
4,A01,ST0001,5,541937
...,...,...,...,...
0,0 ...,0 ...,1049,0
0,0 ...,0 ...,1050,0
0,0 ...,0 ...,1051,0
0,0 ...,0 ...,1052,0
0,0 ...,0 ...,1053,0