## 튜플

In [20]:
import pandas as pd

In [1]:
priceList = [100,200,150,170]

In [4]:
priceList[0] = 190

In [5]:
priceList

[190, 200, 150, 170]

In [2]:
priceTuple = (100,200,150,170)
## 데이터고정시 씀. 변하지 않으므로!

In [6]:
priceTuple[0] = 300

TypeError: 'tuple' object does not support item assignment

In [3]:
priceSet = set(priceList)

# 차집합, 교집합, 합집합 등 집합연산에 좋음

In [7]:
priceSet1 = {100,200,150,170}
priceSet2 = {100,130,210,170}

In [8]:
priceSet1.difference(priceSet2) # 차집합

{150, 200}

In [9]:
priceSet1.intersection(priceSet2) # 교집합

{100, 170}

In [10]:
# 2020년도 1주차 ~ 6주차까지 데이터가 다 있는지를 확인해야한다.

In [11]:
allWeek = {1,2,3,4,5,6}

In [12]:
existWeek = {1,2,3,5,6}

In [13]:
allWeek.difference(existWeek)

{4}

In [15]:
allWeek - existWeek # 리스트에선 이런거 못함

{4}

In [16]:
allWeek1 = [1,2,3,4,5,6]
existWeek1 = [1,2,3,5,6]

In [17]:
allWeek1 - existWeek1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

# 딕셔너리
- key, value 형태로 저장을 한다!!!

In [18]:
priceList = [10,20,30,40]

In [24]:
yearweekList = [202001,202002,202003,202004]

In [26]:
valueDict = {"price" : priceList,
             "yearweek" : [202001,202002,202003,202004] }    # 딕셔너리는 리스트를 포함시킬 수 있다.

In [31]:
valueDict["regionid"] = ["A01","A01","A01","A01"]    # 똑같은 것 반복하는 라이브러리도 있음!

In [30]:
valueDict["price"]

[10, 20, 30, 40]

In [32]:
pd.DataFrame(valueDict) # key값이 나옴!

   price  yearweek regionid
0     10    202001      A01
1     20    202002      A01
2     30    202003      A01
3     40    202004      A01

In [22]:
pd.DataFrame(priceList)

    0
0  10
1  20
2  30
3  40

In [35]:
tuple1 = ("미국","LEDTV","01")
tuple2 = ("미국","LEDTV","02")
dic = {tuple1: 2.5, tuple2: 1.2}

In [36]:
dic["미국","LEDTV","01"]

2.5

### dic = {"name":"sec","id":"300000","address":"suwon"}에서 “id”:”300000” 삭제하여 출력하세요{'name': 'sec', 'address': 'suwon’}

In [43]:
# 딕셔너리 생성
practiceDic = {"name":"sec","id":"300000","address":"suwon"}

# id 키값 삭제
practiceDic.pop("id")

# 딕셔너리 출력
print(practiceDic)

{'name': 'sec', 'address': 'suwon'}

In [49]:
practiceDic = {"name":"sec","id":"300000","address":"suwon"}
del practiceDic["id"]
print(practiceDic)

{'name': 'sec', 'address': 'suwon'}

In [84]:
practiceDic

{'aa': 'sec', 'bb': 'suwon'}

In [83]:
pd.DataFrame(practiceDic) # 1개여서 인덱스를 컴퓨터새끼가 정의하지 못해서 에러뜸. 근데 1개는 실전에서 거의 안씀요. 하려면 인덱스를 수동으로 지정!

ValueError: If using all scalar values, you must pass an index

In [57]:
productIdList = ["LEDTV","LEDTV","LEDTV","LEDTV"]
yearweekList = [202101,202102,202103,202104]
volValueList = [100, 120, 130, 140]

In [59]:
columnName = ["PRODUCT", "YEARWEEK", "VOLUME"]

In [61]:
pd.DataFrame(  [ 
    ["A01", "202001", 100],    # 1행 데이터
    ["A01", "202002", 12],     # 2행 데이터
    ["A01", "202003", 130] ] ) # 3행 데이터

     0       1    2
0  A01  202001  100
1  A01  202002   12
2  A01  202003  130

In [60]:
pd.DataFrame( zip(productIdList,
                  yearweekList,
                  volValueList), columns=columnName)
## 리스트를 데이터프레임에 바로 넣을 땐 zip을 써야함!

  PRODUCT  YEARWEEK  VOLUME
0   LEDTV    202101     100
1   LEDTV    202102     120
2   LEDTV    202103     130
3   LEDTV    202104     140

In [58]:
productIdDict = {"product" : productIdList,
                 "yearweek" : yearweekList,
                 "volume" : volValueList}
pd.DataFrame(productIdDict)
## 딕셔너리는 컬럼이름이 key값으로 매핑

  product  yearweek  volume
0   LEDTV    202101     100
1   LEDTV    202102     120
2   LEDTV    202103     130
3   LEDTV    202104     140

In [55]:
pd.DataFrame(productId, columns=['product'])
# 리스트는 컬럼이름 지정해줘야 함!

  product
0   LEDTV
1   LEDTV
2   LEDTV
3   LEDTV

# 과제 : 자신만의 데이터프레임을 생성해보세요!