### 1. 라이브러리 선언하기

In [1]:
# 데이터 조작 라이브러리
import pandas as pd

In [2]:
import psycopg2
from sqlalchemy import create_engine

In [3]:
import d6tstack

### 2. 데이터 불러오기

In [4]:
# pwd

In [5]:
indata = pd.read_csv("../dataset/kopo_decision_tree_all_new.csv")
indata

      REGIONID PRODUCTGROUP PRODUCT     ITEM  YEARWEEK  YEAR  WEEK  QTY HOLIDAY  HCLUS PROMOTION  PRO_PERCENT
0          A01         PG01     P01  ITEM001    201538  2015    38    1       N      4         N          0.0
1          A01         PG01     P01  ITEM001    201548  2015    48    1       Y      0         N          0.0
2          A01         PG01     P01  ITEM001    201549  2015    49    2       Y      0         N          0.0
3          A01         PG01     P01  ITEM002    201526  2015    26    1       Y      1         N          0.0
4          A01         PG01     P01  ITEM002    201532  2015    32    1       N      4         N          0.0
...        ...          ...     ...      ...       ...   ...   ...  ...     ...    ...       ...          ...
32410      A01         PG05     P16  ITEM491    201503  2015     3    1       N      4         N          0.0
32411      A01         PG05     P16  ITEM491    201504  2015     4    1       Y      2         N          0.0
32412      A01         PG05     P16  ITEM491    201505  2015     5    2       N      4         N          0.0
32413      A01         PG05     P16  ITEM491    201506  2015     6    1       N      4         N          0.0
32414      A01         PG05     P16  ITEM491    201508  2015     8    1       Y      1         N          0.0

[32415 rows x 12 columns]

In [6]:
indata.shape

(32415, 12)

### 3. 데이터 처리 (컬럼 소문자로 변환)

In [7]:
indata.columns.str.lower()

Index(['regionid', 'productgroup', 'product', 'item', 'yearweek', 'year',
       'week', 'qty', 'holiday', 'hclus', 'promotion', 'pro_percent'],
      dtype='object')

### 4. 데이터 저장하기

In [8]:
targetDbIp = "192.168.110.111"
targetDbPort = "5432"
targetDbId = "kopo"
targetDbPw = "kopo"
targetDbName = "kopodb"

In [9]:
targetDbPrefix = "postgresql://"

In [10]:
targetUrl = "{}{}:{}@{}:{}/{}".format(targetDbPrefix,
                                      targetDbId,
                                      targetDbPw,
                                      targetDbIp,
                                      targetDbPort,
                                      targetDbName)
targetUrl

'postgresql://kopo:kopo@192.168.110.111:5432/kopodb'

In [11]:
pg_kopo_engine = create_engine(targetUrl)

In [12]:
tableName = "pg_result_yh"

In [13]:
try:
    indata.to_sql(name=tableName,
                  con = pg_kopo_engine,
                  if_exists="replace", index=False)
    print("{} unload 성공!".format(tableName))
except Exception as e:
    print(e)

pg_result_yh unload 성공!

### d6tstack으로 하기

In [15]:
targetDbPrefix =  "postgresql+psycopg2://"

targetUrl = "{}{}:{}@{}:{}/{}".format(targetDbPrefix,
                                     targetDbId,
                                     targetDbPw,
                                     targetDbIp,
                                     targetDbPort,
                                     targetDbName)

pg_kopo_engine = create_engine(targetUrl)

tableName = "pg_result_ys"



import d6tstack

d6tstack.utils.pd_to_psql(df=indata, uri=targetUrl, table_name=tableName, if_exists="replace")

True